a:visited { color: #00e; }

.heading { background-color: #8080804a; }

.noborder { border: 0; }



p { float: left; }

/*
.myClass { background-color: green; }
.invisible { display: none; }
.timeisgone { background-color: red; }
*/